body {
    background-color: greenyellow;
    font-family:Arial, Helvetica, sans-serif;
}
#index-main {
    max-width: 800px;
    margin: 0 auto;
}
header, footer {
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 15px;
}