body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

header {
    background-color: green;
    color: white;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3em;
}

h2 {
    font-size: 1.3em;
    background-color: green;
    color: white;
}

h3 {
    padding-bottom: 2px;
}

a {
    padding-top: 2px;
}

.screenshot {
    margin-top: 8px;
}

p{
    font-size: 0.8em;
    color: black;
}

section {
    background-color: rgb(235, 233, 233);
    border-radius:15px;
    text-align: center;
    margin: 0.5rem;
    padding: 0 1rem;
}

@media only screen and (min-width: 32.5em) {
    h1{
        font-size: 3em;
        margin-top: 15px;
    }
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }

    h2{
        font-size: 1.5em;
    }

    header {
        flex-wrap: wrap;
        border-radius: 15px;
        height: 100px;

    }
    main section:nth-child(1) {
        margin-top: 15px;
    }
    main section:nth-child(2) {
        grid-column: span 1;
        margin-top: 15px;
    }
    main section picture img {
        width: 100%;
        height:auto;
        border: 1px solid #bbb;
    }
}

@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin : 0 auto;
	}
}
/*main section h2 {
    color: black;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}

main section:nth-child(2) {
    display:block;
    margin:0.5rem;
}
.screenshot {
    box-shadow: 0 0 30px #333;
    max-width: 200px;
}

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    main section:nth-child(2) {
        display:block;
    }
    main section:nth-child(3) {
        grid-column: span 2;
    }
    main section picture {
        display:block;
    }
    main section picture img {
        width: 100%;
        height:auto;
        border: 1px solid #bbb;
    }
}
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
*/