@media only screen and (min-width: 32.5em) {
    h1{
        font-size: 3em;
        margin-top: 15px;
    }
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }

    h2{
        font-size: 1.5em;
    }

    header {
        flex-wrap: wrap;
        border-radius: 15px;
        height: 100px;

    }
    main section:nth-child(1) {
        margin-top: 15px;
    }
    main section:nth-child(2) {
        grid-column: span 1;
        margin-top: 15px;
    }
    main section picture img {
        width: 100%;
        height:auto;
        border: 1px solid #bbb;
    }
}