@media only screen and (min-width: 32.5em) {
    header h1 {
        font-size: 2.5rem;
    }
    main h2 {
        font-size: 1.5rem;
    }
    header, footer {
        border-radius: 10px;
    }
    .profile {
        float: right;
        box-shadow: 0 0 30px black;
        border-radius: 0 10px 0 0;
    }
}