/* Small Screen */
@media only screen and (max-width: 60rem) {
    #head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background-color: #FEFCFB;
        color: black;
        height: 100px
    }
    picture {
        grid-column: 1;
        grid-row: 1/3;
        align-self: center;
        padding-left: 25px;
    }
    .image1 {
        width: 55px;
        padding-right: 10px;
    }
    h1 {
        align-self: end;
    }
    .byline {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        align-self: start;
        padding-top: 3.25em;
    }
    .h1 {
        grid-row: 1;
        grid-column: 1/3;
        justify-self: center;
        align-self: center;
        font-size: 40px;
    }
    /* main */
    .navigation {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        background-color: #0A1128;
        color: white;
        margin-top: 0;
        text-align: center;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    .navigation li i {
        font-size: 25px;
    }
    .navigation a {
        display: block;
        padding: 0.60rem;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 700;
    }
    .navigation a:hover {
        color: #034078;
        background-color: white;
    }
    
    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
      <ul class="navigation responsive">
    */
    .responsive li {
        display: block;
    }
    

    /*******************/
    footer {
        display: block;
        text-align: center;
        background-color: #FEFCFB;
        color: black;
        font-size: 13px;
        padding: 1px;
        border: 1.5px solid black;
    }

    footer a {
        color: #0A1128;
        text-decoration: none;
    }

    footer a:visited {
        color: blue;
    }
    
}
/*************************************/