/* header font */@import url('https://fonts.googleapis.com/css2?family=Roboto=swap');
/* byline font */@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP=swap');
/* link font */@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* body font */

/* General rules */
body {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
}
.town {
    text-align: center;
}
/* main */
.h1 {
    font-family: "Roboto";
    
}
.byline {
    font-family: "Noto+Sans+JP";
    padding-top: 10px;
}

.navigation li a {
    font-family: Pangolin;
}
section {
    /* margin: 0 auto; */
    border: .1px solid black;
    margin-left: 0;
    padding: 5em;
    text-align: center;
    margin-bottom: 1em;
    background-color: #1282A2;
    color: white;
}
.sec {
    margin-left: 30px;
    margin-right: 30px;
}
.cion {
    margin-left: 0;
}

