
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
#index-main {
    max-width: 800px;
    margin: 0 auto;
}
header, footer {
    background-color: green;
    color: white;
    padding: 8px;
}
header h1 {
    font-size: 32px;
    margin: 0.15rem;
}
main {
    padding: 0 15px;
}
main h2 {
    font-size: 1rem;
    border-bottom: 1px solid black;
}
.profile {
    max-width: 200px;
    height: auto;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}
footer a:hover {
    color: #ddd;
}
footer {
    clear:both;
    text-align:center;
}
footer p.legal {
    margin-bottom:9px;
    font-size: .9em;
}
footer p.highlight {
    color: yellow;
    font-size:.8em;
    margin-top:0;
}
