@media only screen and (min-width: 60rem) {
    body {
        max-width: 85%;
        margin: 0 auto;
        border: 1px solid black;
    }
    #head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background-color: #FEFCFB;
        color: black;
        height: 130px;
    }
    picture {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        padding-left: 50px; 
    }
    .image1 {
        width: 70px;
        height: 70px;
    }
    .byline {
        grid-row: 1 / 3;
        grid-column:  1/ 3;
        justify-self: center;
        align-self: center;
        padding-bottom: 15px;
    }
    .h1 {
        grid-row: 1;
        grid-column: 1/3;
        text-align: center;
        align-self: start;
        font-size: 60px;
        padding-bottom: 10px;
    }

    #parkBanner {
        grid-row: 2;
        grid-column: 1/3;
        text-align: center;
        align-self: center;
        background-color: #034078;
        color: white;
        line-height: 1.5em;
        font-family: "Noto+Sans+JP";
    }
    /* main */
    .navigation {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        background-color: #0A1128;
        padding: .8em;
        margin-top: 0;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li a {
        color: white;
        list-style: none;
        text-decoration: none;
    }
    .navigation li a:hover {
        color: whitesmoke;
        border-bottom: 5px solid whitesmoke;
        transition: 0.5s;
    }

    .navigation li a:active, .navigation li a.active {
        color: whitesmoke;
        border: 3px solid whitesmoke;
        border-radius: 8px;
        padding: 5px;
        background-color: #034078;
    }
    /************************/
    footer {
        display: grid;
        background-color: #FEFCFB;
        color: black;
        font-size: 13px;
        padding: 1px;
        border: 1.5px solid black;
        grid-row: 1;
        justify-self: start;
        margin-left: 10px;
        line-height: 5px;
    }

    .copyrightyear {
        grid-column: 1/3;
        grid-row: 1;
        justify-self: start;
        margin-left: 10px;
        line-height: 5px;
    }

    .icon1 {
        grid-column: 3;
        grid-row: 2;
        justify-self: start;
        width: 40px;
    }
    .icon2 {
        grid-column: 3;
        grid-row: 3;
        justify-self: start;
        width: 40px;
    }
    .icon3 {
        grid-column: 4;
        grid-row: 2;
        justify-self: start;
        width: 40px;
    }
    .icon4 {
        grid-column: 4;
        grid-row: 3;
        justify-self: start;
        width: 40px;
    }
    .lastupdated {
        grid-column: 1;
        grid-row: 4;
        justify-self: start;
        margin-left: 10px;

    }
    footer a {
        color: #FEFCFB;
        text-decoration: none;
    }

    footer a:visited {
        color: blue;
    }
}
/*************************************/