@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 1300px;
        margin: 0 auto;
    }
    .target {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*section:nth-child(3) {
        grid-column: span 1;
        margin-top: 20px;
    }*/
}