@media only screen and (min-width: 32.5em) {
    body {
        width: 1000px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }

    h2{
        font-size: 1.5em;
    }

    header {
        flex-wrap: wrap;
        border-radius: 15px;
        height: 40px;

    }
    section:nth-child(1) {
        grid-column: span 1;
        margin-top: 20px;
    }

    section:nth-child(2) {
        grid-column: span 1;
        margin-top: 20px;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    footer {
        border-radius: 15px;
        height: 40px;
    }
}