body {
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FEFCFB;
}

header {
    background-color: #1282A2;
    color: white;
    justify-content: space-between;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    padding-top: 15px;
    text-align: center;
}

.logo {
    height: 160px;
    width: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: lightblue;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1rem;
    float: left;
}

li a:hover {
    background-color: #1282A2;
    color: white;
}

p {
    font-size: 1.15em;
    color: black;
}

.pec1 {
    padding-top: 20px;
}

.sch {
    max-width: 130%;
}

footer {
    background-color: #1282A2;
    color: white;
    font-size: 1em;
    clear: both;
    text-align: center;
}
footer p.legal {
    margin-bottom:9px;
    font-size: 0.9em;
}
footer p.highlight {
    font-size:0.9em;
    margin-top:0;
}
